body {
  background-image: url('https://images.unsplash.com/photo-1529973162914-629bc610ef31?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4c779bcd2717ec25d3cd6d9776690f5e&auto=format&fit=crop&w=1234&q=80');
  background-size: cover;
}

h2 {
  color: red;
  text-align: center;
  border: 3px solid white;
}

p {
  color: white;
  font-family: 'Poiret One', cursive;
  border: 2px solid rgba(255, 247, 170, 0.3);
}

img {
  float: right;
}

li {
  list-style: none;
  display: inline-block;
}

.parrafo {
  color: #BCADDC;
  border: 2px dashed #8F79BE;
}

.activo {
  color: red;
}

footer {
  text-align: center;
  color: white;
  clear: both;
}
